
  <div id="container" class="home-container">
    <link rel="stylesheet" href="../../styles.css"/>
    <p class="welcome-text">Welcome to the home page of the Single Page Application!</p>

    <div class="action-container">
      <p>For login, click this button =></p>
      <button class="action-button" routerLink="/login">Login</button>
    </div>

    <div class="action-container">
      <p>For register, click this button =></p>
      <button class="action-button" routerLink="/register">Register</button>
    </div>
  </div>



