/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('../src/assets/website_bg.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
